{% extends 'base.html.twig' %}

{% block title %}消 费{% endblock %}

{% block body %}

	<div class="input-group mb-3">
		<div class="input-group-prepend w-25">
			<span class="input-group-text w-100" id="">卡号/手机号：</span>
		</div>
		<input type="text" class="form-control" placeholder="">
		<div class="input-group-append w-25">
			<span class="input-group-text w-50" id="">姓名：</span>
			<span class="input-group-text w-50" id="">余额：</span>
		</div>
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend w-25">
			<span class="input-group-text w-100" id="">消费金额：</span>
		</div>
		<input type="text" class="form-control" placeholder="">
		<div class="input-group-append w-25">
			<span class="input-group-text w-100" id="">实收：</span>
		</div>
	</div>
	<button type="button" class="btn btn-success btn-lg">确 定</button>

</div>
{% endblock %}
